<%- include ('../partials/header') %>

<main>
    <div class="container-fluid">
        <div class="board">
            <div class="space"></div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
