<%- include ('../partials/header') %>

<main>
    <div id="board">
        <div class="board-row">
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
        </div>
        <div class="board-row">
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
        </div>
        <div class="board-row">
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
        </div>
        <div class="board-row">
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
        </div>
        <div class="board-row">
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
        </div>
        <div class="board-row">
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
            <div class="board-col"></div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
