<header>
    <img class="logo" src="https://1000logos.net/wp-content/uploads/2023/05/Wordle-Emblem.png" alt="logo" style="height: 120px">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <nav>
        <ul class="nav_links">
            <li><a href="/how-to-play">How To Play</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/stats">Stats</a></li>
            <a class="cta" href="/logout"><button>Logout</button></a>
        </ul>
        
    </nav>
</header>