<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <link rel="stylesheet" href="../styles/nav-bar.css">
  </head>
  <body>
    <header>
        <img class="logo" src="https://1000logos.net/wp-content/uploads/2023/05/Wordle-Emblem.png" alt="logo" style="height: 120px">
        <nav>
            <ul class="nav_links">
                <li><a href="/how-to-play">How To Play</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/stats">Stats</a></li>
                <a class="cta" href="/logout"><button>Logout</button></a>
            </ul>
            
        </nav>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

            /* Reset default styles for all elements */
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            /* Apply styles only to elements inside the header */
            header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                background-color: #262626;
                padding: 0px 9%;
                border-bottom: 1000px blue;
            }

            header .nav_links li,
            header .nav_links a,
            header .cta button {
                font-family: "Arimo", sans-serif;
                font-weight: 500;
                font-size: 20px;
                color: white;
                text-decoration: none;
            }

            .nav_links {
                list-style: none;
            }

            .nav_links li {
                display: inline-block;
                padding: 0px 20px;
            }

            .nav_links li a {
                transition: all 0.3s ease 0s;
            }

            .nav_links li a:hover {
                color: #8ede7c;
            }

            button {
                margin-left: 20px;
                padding: 9px 25px;
                background-color: rgb(255,196,37,1);
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
            }

            button:hover {
                background-color: rgba(255,196,37,0.85);
            }
        </style>
    </header>
  </body>
</html>